<div class="login-container">
    <div class="login-form">
      <h2 id="title">Fundo</h2>
      <h2>Sign In</h2>
      <p>Use Your Fundo Account</p>
      <form [formGroup]="loginForm">
       
        <mat-form-field appearance="outline">
          <mat-label for="email">Email</mat-label>
          <input formControlName="email" matInput id="email" type="email" placeholder="Email" required aria-label="Email">
          <mat-error *ngIf="submitted && loginControls?.['email']?.['errors']?.['required']">Email is
            required</mat-error>
        <mat-error *ngIf="submitted && loginControls?.['email']?.['errors']?.['email']">Incorrect Email
            Format</mat-error>
        </mat-form-field>
  
        
        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input formControlName="password" matInput id="password" type="password" placeholder="Password" required aria-label="Password">
        </mat-form-field>

  
        <!-- <a href="#" class="forgot-password">Forgot Password?</a> -->

        <!-- <a mat-button href="signup.html/" target="_blank">Forgot Password</a> -->

        <button  style="color:#2851a3" mat-flat-button>Forgot Password</button>

        <div class="links">
          <!-- <a href="signup.html" class="create-account">Create account</a> -->

          <!-- <a mat-button target="_blank">Create account</a> -->

          <button style="color:#2851a3" mat-flat-button>Create account</button>

          <button class="login-button" (click)="handleLogin()">Login</button>
        </div>
      </form>
    </div>
  </div> 