<div class="body">
    <div class="container">
        <!-- Signup Form Section -->
        <div class="signup-form">
            <h1>FunDo</h1>
            <h2>Create Your FunDo Account</h2>
            <form>
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" type="text" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" type="text">
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" type="text" required>
                </mat-form-field>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput placeholder="Confirm Password" type="password" required>
                    </mat-form-field>
                </div>

                <div class="actions">
                    <a href="Login.html">Sign in instead</a>
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>

        <!-- Info Section -->
        <div class="info-section">
            <img src="../assets/logo.jpeg" alt="Icon">
            <p>One Account. All of FunDo</p>
            <p>working for you.</p>
        </div>
    </div>
</div>