<div class="body">
    <div class="container">
        <!-- Signup Form Section -->
        <div class="signup-form">
            <h1>FunDo</h1>
            <h2>Create Your FunDo Account</h2>
            <form  [formGroup]="signupForm">
                <div class="input-group">

                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="firstname" matInput placeholder="First Name" type="text" required>
                        <mat-error *ngIf="submitted && signupControls?.['firstname']?.['errors']?.['required']">first name is required</mat-error>
                    </mat-form-field>
                   

                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" type="text" required>
                    </mat-form-field>

                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput placeholder="Username" type="text" required>
                    <mat-error *ngIf="submitted && signupControls?.['username']?.['errors']?.['required']">username is required</mat-error>
                </mat-form-field>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput placeholder="Password" type="password" required>
                        <mat-error *ngIf="submitted && signupControls?.['password']?.['errors']?.['required']">password is required</mat-error>
                        <mat-error *ngIf="submitted && signupControls?.['password']?.['errors']?.['minLength']">password is required</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input formControlName="confirmPassword" matInput placeholder="Confirm Password" type="password" required>
                        <mat-error *ngIf="submitted && signupControls?.['confirmpassword']?.['errors']?.['required']">confirm password is required</mat-error>
                    </mat-form-field>
                </div>

                <div class="actions">
                    <a href="Login.html">Sign in instead</a>
                    <button type="submit" (click)="handleSignUp()">Register</button>
                </div>
            </form>
        </div>

        <!-- Info Section -->
        <div class="info-section">
            <img src="../assets/logo.jpeg" alt="Icon">
            <p>One Account. All of FunDo</p>
            <p>working for you.</p>
        </div>
    </div>
</div>